@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono&family=Roboto:wght@300&display=swap');

:root {
  --card-size: 19.813rem;
  --body-background: #23252C;
  --info-background: #1A1B21;
  --text-color: #F3BF99;
  --link-color: #374151;
  --footer-color: #161619;
  --icon-color: #918E9B;
} 

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: var(--body-background);
}

.profile-img {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.main-info {
  width: var(--card-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--info-background);
}

.main-info > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.4rem;
}

.main-info > p {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0px;
}

.main-info > a {
  color: #fff;
  text-decoration: none;
}

.contact-links {
  padding: 1rem;
  display: flex;
  gap: 1.05rem;
}

.link {
  background: #fff;
  color:var(--link-color);
  width: 8.2rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 6px;
  gap: 0.5rem;
  text-decoration: none;
}

.email > i {
  color: #000;
}

.email {
  color: var(--link-color);
}

.linked {
  background: #5093E2;
  color: #fff;
}

.info-container {
  align-self: flex-start;
  margin-left: 1rem;
  color: #fff;
}

.info-container > h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.info-container > p {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  padding-right: .5rem;
}

footer{
  width: var(--card-size);
  height: 4rem;
  background: var(--footer-color);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var(--icon-color);
}

footer a {
  color: var(--footer-color);
  background-color: var(--icon-color);
  width: 25px;
  height: 25px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

